{:kotoba.app/id "cloud.itonami.isic-851", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibbqtszwqeweno7ooa5uuawswa2rnonghz27dkb3sayrj32qqkt2y", :kotoba.app/embed-url "ipfs://bafkreibbqtszwqeweno7ooa5uuawswa2rnonghz27dkb3sayrj32qqkt2y", :published {:archive "https://kotobase.net/ipfs/bafkreibbqtszwqeweno7ooa5uuawswa2rnonghz27dkb3sayrj32qqkt2y", :size 72836, :put-status 201, :get-status 200, :at "2026-08-15T13:57:23.815Z"}}
